# packages installed in editable mode
envs/src/**
ProteinCartography/
scripts/ProteinCartography_scripts_downloaded.txt

# Snakemake-related folders and files
.snakemake/
/input/
/outputs/
/demo/output/
/demo/input/
/logs
inputs/deprecated/
inputs/taxdump.tar.gz
inputs/taxdump/
inputs/ticks-on-a-tree/
inputs/uniprot/
sandbox/
tmp_foldseek/
scripts/deprecated/
inputs/41586_2024_7809_MOESM4_ESM.xlsx
inputs/viralzone.expasy.org-678.tsv
inputs/viral/Nomburg_2023_structures.zip
inputs/viral/virushostdb.tsv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.Rhistory

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.napari_cache

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# MkDocs documentation
/site/

# PyBuilder
target/

# Pycharm and VSCode
.idea/
venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# OS
.DS_Store

# written by setuptools_scm
**/_version.py

# Nextflow related folders and files
.nextflow*
work/
